
			.box{
				width: 920px;
				height: 520px;
				margin: 0 auto;
				background-color:black;
				position: relative;
				border-radius: 60px;
			}
			input{
				float: left;
				margin-right: 40px;
				background:linear-gradient(to bottom,yellow,blue);
				width: 70px;
				border: none;
			}
			#b{
				width: 250px;
				margin: 0 auto;
			}
			body{
				background-repeat: no-repeat;
				background-size: cover;
				background-image: url(../img/a.jpg)		
			}
			