		body {
			background-image: url(../img/ff6.jpg);
			background-size: cover;
			position: relative;
			margin: 0;
			padding: 0;
			margin: 0 auto;
			text-align: center;
			width: 1300px;
			height: 100%;
		}
		/*设置整体样式*/
		*{
				margin:0;
				padding: 0;
		}
			
			#nav{
				margin: 0 auto;
				width: 1200px;
				height: 40px;
				position: absolute;
				top: 0px;
				left: 45px;
				z-index: 37;
			}
			/*导航样式和位置*/
			a{
				text-decoration: none;
				color:#FFFFFF;
			}
			ul,li{
				list-style: none;
			}
			#ul1 li{
				width: 200px;
				height: 40px;
				float: left;
				text-align: center;
				line-height: 40px;
				color: #ffffff;
				background:#333333;
				position: relative;
			}
			#ul1 li:hover{
				background:#403a2e;
				z-index: 999;
			}
			#ul1>li:hover .list1{
				display: block;
			}
			.list1{
				position: absolute;
				left: 0;
				top:40px;
				display: none;
			}
			.list1 li{
				width: 200px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				border-top:2px solid #a8a2a2;
			}
			h2 {text-align: left;}
		
		#div {
			margin: 0 auto;
			margin: 0;
			padding: 0;
			width: 1200px;
			height: 1200px;
			text-align: center;
			}
		/*主体内容宽高*/
		
		aside {
			background-color: antiquewhite;
			width: 240px;
			position: absolute;
			left: 46px;
			top: 42px;
			height: 987px;
			}
			/*左半边样式*/
		
		section {
			margin: 0px;
			padding: 0px;
			background-image: url(../img/777.jpg);
			position: relative;
			left: 285px;
			top: 42px;
			height: 700px;	
		}
		/*右半边样式*/
		
		figcaption::first-line {
			font-family: "微软雅黑";
			font-weight: bolder;
			font-size: 20px;
		}
		
		aside,section {display: table-cell;}/*并排存在*/
		
		.div1 {
			width: 900px;
			height: 947px;
			padding: 40px 30px 0 30px;
		}
		/*右半边样式*/
		
		figure {
			text-align: center;
			padding: 60px 10px 10px 10px;
			margin: 0;
		}
		
		p {
			text-indent: 40px;
			text-align: left;
			word-break: break-all;
		}
		/*段落的格式*/
		
		figure img {
			border-radius: 60px;
			box-shadow: 2px 2px 2px 2px grey;
		}
		/*左半边图片样式*/
		#im {
			border-style: dashed solid dashed solid;
			border: 3px solid darkslategray
		}
		
		#im:hover {
			border-style: dashed dashed dashed dashed
		}
		/*图片滑动效果*/
		.im1 {
			border-style: dashed solid dashed solid;
			border: 3px solid red;
		}
		#im1:hover {
			border-style: dashed dashed dashed dashed
		}
		.p1 {
			border-style: solid dashed solid dashed;
			box-shadow: 3px 3px 3px 3px gray;
			border-color: black;
			border-radius: 20px;
			padding: 3px;
			transition: 2s ease-out
		}
		/*每一段文字的样式效果*/
		.p1:hover {
			transform: rotate(5deg);
			border-style: dashed solid dashed solid;
			font-weight: bold;
		}
		/*鼠标移动过后效果*/
		
			footer {
							width: 1200px;
						 	position:absolute;
						 	background-image: url(../img/footer.jpg);
						 	background-size: 100% 150px;
						 	height: 150px;
							top: 1029px;
							left: 46px;
							margin: 0 auto;
							}
				.footp{
						clear: both;
						text-align: center;
						line-height: 40px;
						padding-top: 40px;
					}
					/*表脚样式*/